body {
    font-size: 2rem;
}

h2 {
    color: black !important;
}

#produtos {
    color: lightgreen;
}

.titulo {
    color: tomato;
    padding: 10px;
}

.titulo.teste {
    color: blue;
}

html body section h2 {
    border-left: 8px solid lightgreen;
}

html body #intro h2 {
    border-left: 8px solid lightsalmon;
}