[required] {
    border: 2px solid tomato;
}

a[href="#contato"] {
    border: 2px solid greenyellow;
}

[href^="#"] {
    background: plum;
}

section > h2 {
    color: tomato;
}

p {
    margin: 0;
}

article {
    background-color: lightgreen;
    padding: 10px;
}

p + p {
    margin-top: 20px;
}

* {
    border: 2px solid lightgray;
}