span {
    background: #ddd;
    display: inline-block;
}
span {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    /* padding: 100px; */
    border: 20px solid fuchsia;
    border-top: 10px solid blue;
}